{% extends "shule/base.html" %}
{% load static %}

{% block title %}Admin Session{% endblock %}
{% block content %}
 <div class="all-content">
    
    <div class="inner-all-content">
        <div id="top-content">
            <div class="left-top-content">
                <div id="site-logo">
                    <h1><a href="{% url 'login' %}">nk</a></h1>
                </div>
            </div>
            <div class="right-top-content">
                {% csrf_token %}
                <strong>{{ username }}</strong>
                <a href="#">Visite</a>
                |
                <a href="#">Contactes</a>
                |
                <a href="#">Changer mot de passe</a>
                |
                <a href="{% url 'logout' %}">Deconnection</a>

            </div>
        </div> 

        <div id="bottom-content">
          <div id="main-content">
            <div class="main-content-left">
                <div class="inner-main-content-left">
                    <!-- <a href="#" id="open1" onclick="switchToCours();">Cours</a> -->
                    <a href="#" id="open3" onclick="switchToEmployee();">Eleves</a>
                    <a href="#" id="open2" onclick="switchToStudent();">Employees</a>
                    <a href="#" id="open4" onclick="switchToProducts();">Produits</a>
                </div>
            </div>

            <div class="main-content-right">
                {% include "shule/staffs/secretary/cours.html" %}
                {% include "shule/staffs/secretary/product.html" %}
                {% include "shule/staffs/secretary/student.html" %}
                {% include "shule/staffs/secretary/employee.html" %}
                <div style="text-align: center; margin: 10%; padding: 10%; color: #333;" id="welcom1">
                    <h1>Wecolme to nanKim school system</h1>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    <div id="foot-content">
        <h1>nanKim</h1>
    </div>
    
{% endblock footer %}

 