
{% extends "shule/base.html" %}

{% block title %}Activities{% endblock %}
{% block content %}
 <div class="all-content">
    <div class="inner-all-content">
        <div id="top-content">
            <div class="left-top-content">
                <div id="site-logo">
                    <h1><a href="{% url 'login' %}">nk</a></h1>
                </div>
            </div>
            <div class="right-top-content">
                {% csrf_token %}
                <strong>{{ school_name }}</strong>
                <a href="#">Visite</a>
                |
                <a href="#">Contactes</a>
                |
                <a href="#">Changer mot de passe</a>
                |
                <a href="{% url 'logout' %}">Deconnection</a>

            </div>
        </div> 

        <div id="bottom-content">
          <div id="main-content">
            <div class="main-content-left">
                <div class="inner-main-content-left">
                    <a href="#" id="open1" onclick="switchToAdmin();">Staff</a>
                    <a href="#" id="open2" onclick="switchToClasse();">Classes</a>
                    <a href="#" id="open4" onclick="switchToFres();">Frais</a>
                    <a href="#" id="open3" onclick="switchToPersonnel();">Personnel</a>
                    <!--<a href="#">Niveau</a>
                    <a href="#">Personnel</a>
                    <a href="#">Produit</a>
                    <a href="#" id="open3" onclick="switchToCours();">Cours</a>
                -->
                </div>
            </div>

            <div class="main-content-right">
                {% include 'shule/admin/admin.html' %}
                {% include 'shule/admin/classes.html' %}
                {% include 'shule/admin/fees.html' %}
                {% include 'shule/admin/personnel.html' %}
                <div style="text-align: center; margin: 10%; padding: 10%; color: #333;" id="welcom">
                    <h1>Wecolme to nanKim school system</h1>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <div id="foot-content">
        <h1>nanKim</h1>
    </div>
{% endblock footer %}