<form style="display: none" id="form-levelHisto">
    {% csrf_token %}
    <input type="hidden" name="stdpaiements" id="stdpaiements">
</form>

<form style="display: none" id="form-mixHisto">
    {% csrf_token %}
    <input type="hidden" name="mixhisto" id="mixhisto">
</form>

<form style="display: none;" name="form-soldproduct" id="form-soldproduct">
    {% csrf_token %}
    <input type="hidden" name="repportSell" id="repportSell">
</form>


<div class="employee-main-content-right" id="employee-main-content-right4" style="display: block; height: inherit">
    <div class="top-employee-main-content-right">
        <h1>Rapport de caisse...</h1>
        <p style="margin-left: 30px; font-weight: bold">Time:  <span id="datetime1" style="color:red; font-weight: bold" ></span></p>
        
        <div class="summary-modals" style="display: block;">
            <div class="inner-summary-modals">
                <div class="details-box1">
                    <label>Payment</label>
                    <!-- <div class="payment-box"> -->
                        {% if studentTodaypayement|length %}
                            {% for todaypayment in studentTodaypayement %}
                                {% if todaypayment.sumamount is not none %}
                                    <h2 id="sumstudentpay">{{ todaypayment.sumamount }}</h2>
                                {% else %}
                                    <h2 id="sumstudentpay">{{ msgpay }}</h2>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h2>Pas d'enregistrement</h2>
                        {% endif %}
                    <!-- </div> -->
                </div>

                <div class="details-box2">
                    <label>Vente</label>
                    <!-- <div class="payment-box"> -->
                        {% if sellTodaypayment|length %}
                            {% for todaysell in sellTodaypayment %}
                                {% if todaysell.sumamount  is not none %}
                                    <h2 id="sumsell2day">{{ todaysell.sumamount }}</h2>
                                {% else %}
                                <h2 id="sumsell2day">{{ msgpay }}</h2>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h2>Pas d'enregistrement</h2>
                        {% endif %}
                    <!-- </div> -->
                </div>

                <div class="details-box3">
                    <label>Depenses</label>
                    <!-- <div class="payment-box"> -->
                        {% if todypayements|length %}
                            {% for todaypay in todypayements %}
                                {% if todaypay.sumamount  is not none %}
                                    <h2 id="sumPay">{{ todaypay.sumamount }}</h2>
                                {% else %}
                                    <h2 id="sumPay">{{ msgpay }}</h2>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h2>Pas d'enregistrement</h2>
                        {% endif %}
                    </div>
                <!-- </div> -->
            </div>
        </div>

        <div class="employee-left-box" id="search_content_default" >
            <input type="search" data-table="order-table" placeholder="Filtre dans le tableau..." class="search_admin_t1"  
                            id="defaulty_search">

            <div class="button_align_bar">
                <!-- <div style="width: 20%; display: inline-flex; margin-left: 30px;"></div> -->
                <div class="dropdown" >
                    <button onclick="dropFunction()" class="dropbtn">Paiement</button>
                    <div id="itemDropdown" class="dropdown-content">
                        {% if showlevel|length %}
                            {% for level in showlevel %}
                                {% if level.id is not none %}
                                    <a href="#" name="{{ level.id }}" class="btnstdpay">{{ level.title }}</a>
                                {% else %}
                                    <a href="#"></a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <a href="#"></a>
                        {% endif %}
                    </div>
                </div>
                <button type="button" id="btn-repport-sold" class="principalbtn">Vente</button>
                <!-- <button type="button" id="btn_print_article" class="principalbtn">Depense</button> -->
                <button type="button" id="btn-rapport-mixed" class="principalbtn">Tout</button>
                <button type="button" id="btn_print_article" class="principalbtn">Inprimer</button>
            </div>

        </div>
    </div>
    <div class="split-tbl-content">
        <div class="bottom-employee-main-content-right" id="bottom-employee-main-content-right6" 
                    style="display: block; float: left; width: 75%;"></div>
        <div class="repport-right-content" id="repport-right-content">
            <h1>Solde de la recherche</h1>
            <h2 id="getvalue"></h2>
            <h1 id="getDebit"></h2>
            <h1 id="getCredit"></h2>
            <br/>
            <h1>Nombre des contenus</h1>
            <h2 id="getvalueContent"></h2>
        </div>
    </div>
</div> 